<div class="col-md-6">
    <h3>Add exercise:</h3>
    <form class="form new-exercise-form">
         <div class="form-group">
            <label for="exercise-name">Choose Workout:</label>
            {{!-- <input class="form-input" type="text" id="exercise-name" name="exercise-name" /> --}}
            <select class="form-select form-select-lg mb-3" id="categorymenu" aria-label=".form-select-lg example">
                <option selected>None</option>
                <option data-id= "1" value="1">Weight Lifting</option>
                <option data-id= "2" value="2">Cardio</option>
            </select>
        <div class="form-group">
            <label for="exercise-name">Exercise Name:</label>
            <input class="form-input" type="text" id="exercise-name" name="exercise-name" />
        </div>
        <div class="form-group">
            <label for="exercise-weight">Exercise Weight(lbs):</label>
            <input class="form-input" type="number" id="exercise-weight" name="exercise-weight" />
        </div>
        <div class="form-group">
            <label for="exercise-reps">Number of Reps:</label>
            <input class="form-input" type="number" id="exercise-reps" name="exercise-reps" />
        </div>
        <div class="form-group">
            <label for="exercise-duration">Exercise Duration(min):</label>
            <input class="form-input" type="number" id="exercise-duration" name="exercise-duration" />
        </div>
        <div class="form-group">
            <button type="submit" id="category-btn" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<script src="/js/exerciseform.js"></script>