<div class="container">
  <div class="box">
    <div>
      <h3> Welcome, {{user_name}} </h3>
    </div>
    <div class="card m-3 pastlogs" style="width: 18rem;">
      <div class="card-header">

        <div class="row mt-4">
          <section class="box">

            <a class='btn btn-primary' href="/exerciseform/">
              <i class="fas fa-plus"></i>
              <span>Add Exercise</span>
            </a>
            <div class="col-md-6">
              {{#each exercises as |exercise|}}
              <div class="row mb-2">
                <div class="col-md-8">
                  <h4><a href="/project/{{exercise.id}}">{{exercise.exercise_name}}</a></h4>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-sm btn-danger" data-id="{{exercise.id}}">DELETE</button>
                </div>
              </div>
              {{/each}}
            </div>
          </section>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card m-3 pastlogs" style="width: 18rem;">
        <div class="card-header">
          Chest
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">Back</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <script src="/js/profile.js"></script>