
<div class="container">
  <div class="box">
    <div>
      <h1> COMING SOON </h1>
      <img src="/css/images/141bfd_f750b94d365a406f9bf5cf080d97c1c2_mv2.gif" alt="Under Development image" style="width:1000px;height:1000px;">

    </div>
  </div>  
  <script src="/js/workout.js"></script>
</div>